[*.cs]

# CS8618: Null atanamaz alan, oluşturucudan çıkış yaparken null olmayan bir değer içermelidir. Alanı null atanabilir olarak bildirmeyi düşünün.
dotnet_diagnostic.CS8618.severity = none

# CS8769: Parametre türündeki başvuru türlerinin null atanabilirliği uygulanan üyeyle eşleşmiyor (muhtemelen null atanabilirlik öznitelikleri nedeniyle).
dotnet_diagnostic.CS8769.severity = none

# CS8600: Null sabit değeri veya olası null değeri, boş değer atanamaz türe dönüştürülüyor.
dotnet_diagnostic.CS8600.severity = none

# CS8601: Olası null başvuru ataması.
dotnet_diagnostic.CS8601.severity = silent

# CS8603: Olası null başvuru dönüşü.
dotnet_diagnostic.CS8603.severity = none

# CS8604: Olası null başvuru bağımsız değişkeni.
dotnet_diagnostic.CS8604.severity = silent

# CS8602: Olası bir null başvurunun başvurma işlemi.
dotnet_diagnostic.CS8602.severity = silent

# CS8625: Null sabit değer, boş değer atanamayan başvuru türüne dönüştürülemiyor.
dotnet_diagnostic.CS8625.severity = silent
